{
  "extends": "google",
  "env": {
    "node": true
  },
  "rules": {
    "no-use-before-define": [1, "nofunc"], //latedef in jshint
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "new-cap": [1, {"capIsNew": false}],
    "no-mixed-requires": [1, true],
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": false,
            "MethodDefinition": false,
            "ClassDeclaration": false,
            "ArrowFunctionExpression": false,
            "FunctionExpression": false
        }
    }],
    "valid-jsdoc": 0,
    "no-var": 0,
    "one-var": 0,
    "max-len": ["error", { "code": 120 }],
    "comma-dangle": ["error", "never"]
  }
}
